.header{
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 30px;
margin: 0 150px;
}

.upper-part {
color:antiquewhite;
background-color: #1F2937;
}
    
.links {
display: flex;
justify-content: flex-end;
gap: 35px;
}

.links a {
  text-decoration: none;
  color:antiquewhite;
}

h3 {
font-family:'Times New Roman', Times, serif;
font-size: 24px;
font-weight: 900;
}

.text-and-img {
display: flex;
justify-content: space-between;
align-items: center;
padding: 150px;
gap: 35px;
}

.text h1 {
font-family: 'Times New Roman', Times, serif;
font-size: 80px;
}

.text p {
font-family: 'Times New Roman', Times, serif;
font-style: italic;
font-size: 35px; 
color:rgb(162, 157, 152);
}

.text-button {
display:grid;
flex: 1;
}

button {
width: 150px;          
height: 50px;         
background: rgb(30, 30, 154);      
color: white;         
border: none;      
border-radius: 8px;   
font-size: 16px;       
font-weight: bold;    
cursor: pointer;      
}

img {
    flex: 1;
}

.information {
display: flex;
align-items: center;
justify-content: center;
font-family: 'Times New Roman', Times, serif;
font-size: 35px;
font-weight: 900;
color: #1F2937;
}

.container {
  display: flex;
  gap: 80px;
  justify-content: center;
}

.item {
  width: 150px;
  text-align: center;
  color: rgb(138, 133, 129);
}

.square {
width: 150px;
height: 150px;
border: 3px solid #234e8b;
border-radius: 10px;
}

.quote {
display: grid;
align-items: center;
padding: 100px 470px;
margin: 0 auto;

font-family: Georgia, 'Times New Roman', Times, serif;
color: #1F2937;
background-color: #E5E7EB;
font-style: italic;
font-size: 36px;
font-weight: 100;
}

.author {
display: flex;
justify-content: flex-end;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
font-weight: bold;
}

.market {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.sign-up {
  display: flex;
  align-items: center;
  gap: 50px;

  font-family: 'Times New Roman', Times, serif;
  color: #E5E7EB;
  background-color: #234e8b;
  border-radius: 8px;
  padding: 30px;
}

.sign-up-text {
  display: flex;
  flex-direction: column;
}

.sign-up-text p {
  margin: 0;
}

.sign-up-text .call {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.sign-up-button {
  display: flex;
  align-items: center;
}

.footer {
display: grid;
align-items: center;
justify-content: center;
padding: 30px 30px;
margin: 0 auto;


background-color:#1F2937;
color:#E5E7EB
}
